.git
.github
.expo
.expo-shared

node_modules
functions/node_modules
ios/Pods
ios/build
android/app/build
build
DerivedData

boost_1_76_0
tmp

*.log
*.swp
*.swo
*.xcuserstate
*.xcuserdata
.DS_Store
Pods-PharmAI-resources-backup.sh
fix-localizable-sandbox.patch.rtf
